
body{
  font-family: monospace;
}

#canvas_container {
  display: grid;
}
canvas {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
}
#back_canvas {
  background-color: midnightblue;
  z-index: 0;
}

#front_canvas {
  z-index: 1;
}

@font-face {
  font-family: "exwayer";
  src: url("./static/fonts/exwayer/exwayer.ttf");
}
@font-face {
  font-family: "nasalization";
  src: url("./static/fonts/nasalization-free/nasalization-rg.otf");
}
@font-face {
  font-family: "potra";
  src: url("./static/fonts/potra/Potra.ttf");
}
@font-face {
  font-family: "sf-outer-limits";
  src: url("./static/fonts/sf-outer-limits/SFOuterLimits.ttf");
}

#title{
  font-family: "sf-outer-limits";
  font-size: 5em;
  text-align: center;
  color: lightblue;
  margin-top: 1em;
}
#title_bold {
  color: midnightblue;
}

#settings {
  width: 900px;
  margin: auto;
  margin-top: 3em;
}

.body_settings {
  display: flex;
  text-align: center;
  margin-top: 1em;
}
.body_settings>div {
  flex: auto;
}

#body_template {
  display: none;
}